@inject UserSession UserSession
@inject NavigationManager Nav
@inject IJSRuntime JS


<div id="sidebar" class="gym-sidebar">
    <DxMenu Orientation="@Orientation" CssClass="w-100 my-custom-menu" CollapseItemsToHamburgerMenu="false">
        <Items>
            <DxMenuItem NavigateUrl="/" Text="Inicio" IconCssClass="bi bi-house-door" />
            <DxMenuItem NavigateUrl="/dashboard" Text="Dashboard" IconCssClass="bi bi-trophy" />
            <DxMenuItem NavigateUrl="/rutinas" Text="Rutinas" IconCssClass="bi bi-graph-up" />
            <DxMenuItem NavigateUrl="/planes" Text="Planes" IconCssClass="bi bi-calendar-check" />
            <DxMenuItem NavigateUrl="/gestionar-plantillas" Text="Plantillas" IconCssClass="bi bi-gear" />
            <DxMenuItem NavigateUrl="/ejercicios" Text="Ejercicios" IconCssClass="bi bi-clipboard-pulse" />
            <DxMenuItem NavigateUrl="/gestion-ejercicios" Text="Gestion Ejercicios" IconCssClass="bi bi-tools" />
        </Items>
    </DxMenu>
</div>

@code {
    [Parameter] public Orientation Orientation { get; set; } = Orientation.Vertical;
    [SupplyParameterFromQuery(Name = "toggledSidebar")]
    public bool ToggledSidebar { get; set; }

    private async Task CerrarSesion()
    {
        UserSession.UsuarioId = 0;
        UserSession.Nombre = string.Empty;

        await JS.InvokeVoidAsync("localStorage.removeItem", "UsuarioId");
        await JS.InvokeVoidAsync("localStorage.removeItem", "NombreUsuario");

        Nav.NavigateTo("/login");
    }
}